.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    width: var(--default-layout-width);
    margin-top: var(--default-layout-header-height);
    max-width: 100%; //Giúp không vượt quá khi co nhỏ đặt bằng px = đúng với chiều dài màn hình trình duyệt
    display: flex;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.content {
    flex: 1;
}
